@page "/new-bug"
<h3>Add New Bug</h3>

<EditForm Model="AddBug" OnValidSubmit="HandleValidSubmit">
    <InputText placeholder="Enter Title" @bind-Value="@AddBug.Title"></InputText>
    <InputText placeholder="Enter Description" @bind-Value="@AddBug.Description"></InputText>
    <InputNumber placeholder="Enter Priority" @bind-Value="@AddBug.Priority"></InputNumber>
    <button type="submit">Add Bug</button>
</EditForm>

@code{
    public Bug AddBug { get; set; }

    [Inject]
    public IBugService BugService { get; set; }

    [Inject]
    public NavigationManager NavService { get; set; }

    protected void HandleValidSubmit() 
    {
        BugService.AddBug(AddBug);
        NavService.NavigateTo("");
    }
}
